* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.galary-header {
    background-color: #000000;
    color: #fff;
    font-family: "Clash Display", sans-serif;
    font-size: 4rem;
    text-align: center;
    padding: 0 0 5rem;
}

.galary-content {
    background-color: #000000;
}