* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.prevevent-main {
  /* width: 100vw; */
  /* height: 100vh;  not working*/
  background-color: #000000;
  padding: 0 20rem 12rem;
}

/* header-section */
.prevevent-header {
  font-family: "Clash Display", sans-serif;
  font-size: 5rem;
  line-height: 6rem;
  color: #ffc145;
  padding-bottom: 10rem;
  letter-spacing: -3px;
}
.prevevent-header .white-heading {
  color: #fff;
}
/* end of header-section -----------*/

/* start of main container ----------*/

.prevevent-container {
  /* width: 100%  not working;
    height: 100%; */
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-template-rows: repeat(2, minmax(250px, 1fr));
  grid-row-gap: 4.5rem;
  grid-column-gap: 2rem;
}

.item {
  /* background-color: aquamarine; */
  height: 40rem;
}
.item img {
  width: 100%;
  height: 100%;
}

/* styling and adding header to item 1 */
.item-1 {
  height: 40rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  text-align: right;
}

.item-1 .item-header {
  color: #fff;
  font-size: 2rem;
  padding-bottom: 1.5rem;
  grid-row: 1/2;
  grid-column: 2/3;
}

.item-1 .item-header h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

.item-1 img {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* styling and adding header to item 4 */
.item-4 {
  height: 40rem;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 5fr 1fr;
  text-align: left;
}

.item-4 .item-header {
  color: #fff;
  font-size: 2rem;
  padding-top: 2rem;
  grid-row: 2/3;
  grid-column: 1/2;
}

.item-4 .item-header h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

.item-4 img {
  grid-column: 1/2;
  grid-row: 1/2;
}

/* see all photoes section ----*/
.see-all {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  height: 5rem;
  margin-top: 7rem;
  background-color: #000000;
}
.see-all .end-line {
  grid-column: 1/2;
  background-color: #ffc145;
  width: 50%;
  height: 0.1rem;
  margin-top: 3rem;
}

.see-all .galary-btn {
  grid-column: 2/3;
  /* background-color: green; */
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-all .galary-btn .text {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-all .galary-btn .icon {
  color: #000000;
  font-size: 3rem;
  margin-left: 1rem;
  background-color: #fff;
  border-radius: 50%;
}
/* ------------------------------------ ---------*/

/* handeling responsiveness ----------- */
@media (max-width: 1080px) {
  .prevevent-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .see-all {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .prevevent-header {
    font-size: 3rem;
    line-height: 4rem;
    padding-bottom: 8rem;
  }
  h1 {
    font-size: 3rem;
  }
  .item-1 .item-header h3 {
    font-size: 2rem;
  }
}

/* grid breakpoint */
@media (max-width: 920px) {
  .see-all .galary-btn {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: end;
  }
  .prevevent-header {
    padding-bottom: 7rem;
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .see-all {
    margin-top: 3rem;
  }
  /* ewstructuring .item-1 and .item-4  */
  .item-1 img {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .item-4 img {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
@media (max-width: 750px) {
  .prevevent-header {
    padding-bottom: 6rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .prevevent-main {
    padding: 0 15rem 10rem;
  }
  .see-all .galary-btn .text {
    font-size: 2rem;
  }
  h1 {
    font-size: 2.2rem;
  }
  .item-1 .item-header h3 {
    font-size: 1.4rem;
  }
  .item-4 .item-header h3 {
    font-size: 1.4rem;
  }
}
@media (max-width: 582px) {
  .prevevent-header {
    padding-bottom: 5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .prevevent-main {
    padding: 0 10rem 8rem;
  }
  .see-all .galary-btn .text {
    font-size: 2rem;
  }
}
@media (max-width: 420px) {
  .prevevent-header {
    padding-bottom: 4rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .prevevent-container {
    grid-row-gap: 2rem;
  }

  .prevevent-main {
    padding: 0 5rem 8rem;
  }

  h1 {
    font-size: 2.2rem;
  }
  .item-1 img {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .item-1 .item-header h3 {
    font-size: 1.4rem;
  }
  .item-4 img {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .item-4 .item-header h3 {
    font-size: 1.5rem;
  }
  .item {
    height: 20rem;
  }

  .see-all {
    margin-top: 6rem;
  }
}

