* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.about {
  /* padding:3rem 0 2rem 0; */
  padding: 10rem 15rem;
  background-color: #000;
  /* width: 100vw; */
  /* height: 100vh; */
}
.about-line {
  background-color: #0bc3c0;
  margin-left: 7rem;
  margin-bottom: 2rem;
  width: 50rem;
  height: 0.1rem;
}

.about-section {
  /* height: 100%; */
  background-color: #000;
  display: grid;
  grid-template-columns: 5rem 5fr 2fr 5rem;
  gap: 2rem;
  /*     padding: 20px; */
  /*     text-align: left; */
}

.about-header {
  font-family: 'Clash Display', sans-serif;
  line-height: 6rem;
  display: flex;
  grid-column: 3/4;
  justify-content: center;
  padding: 2rem 0;
  border-radius: 0.8rem;
  /*     box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1); */
  /* font-size: 4rem; */
  font-size: 5rem;
  letter-spacing: -3px;
  color: #0bc3c0;
  background-color: #000;
}
.white-heading {
  color: #fff;
}
.about-content {
  font-family: 'Clash Display', sans-serif;
  font-weight: 400;
  line-height: 3.2rem;
  display: flex;
  grid-column: 2/3;
  /*     background-color: #f2f2f2; */
  padding: 2rem 0;
  border-radius: 0.8rem;
  /*     box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1); */
  font-size: 2.5rem;
  color: #fff;
  background-color: #000;
}

@media (max-width: 1080px) {
  /* html {
    font-size: 40%;
  } */
  .about-line {
    width: 30rem;
    margin-left: 4rem;
    margin-bottom: 0rem;
  }
  .about-header{
    font-size: 4rem;
    line-height: 4.5rem;
  }
  .about-content{
    font-size: 1.7rem;
    line-height: 2rem;
  }
  .about-section {
    grid-template-columns: 2rem 5fr 2fr 2rem;
  }
  /* .about-content {
    grid-column: 2/4;
  } */
}
@media(max-width:750px){
  .about {
    padding: 10rem 10rem;
    background-color: #000;
    width: 100vw;
    /* height: 100vh; */
  }
  .about-line {
    width: 15rem;
    margin-left: 4rem;
  }
  .about-header{
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .about-content{
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
}
@media(max-width:500px){
  .about {
    padding: 2rem 1rem;
  }
  .about-line {
    width: 8rem;
    margin-left: 4rem;
    margin-bottom: 0;
  }
  .about-header{
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
  .about-content{
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}

