* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @keyframes slide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  .logos {
    background-color: #1D1D1D;
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
  }
  
  .logos::after,
  .logos::before {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 2;
    content: "";
  }
  
  .logos::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #1d1d1d);
  }
  .logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #1d1d1d);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 25s slide infinite linear;
  }
  
  .logos-slide img {
    height: 16rem;
    margin: 0 4rem;
  }
  
  @media (max-width: 920px) {
    .logos-slide img {
      height: 12rem;
      margin: 0 2rem;
    }
  }
  @media (max-width: 750px) {
    .logos-slide img {
      height: 10rem;
      margin: 0 2rem;
    }
  }