* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.testimonial-main {
  background-color: #000000;
  width: 100vw;
  height: auto !important;
  padding: 12rem 0;
  /* position: relative; */
}

/*------------------- Header part-------------------------*/
.testimonial-header {
  font-family: "Clash Display", sans-serif;
  padding: 0 10rem;
  /* background-color: #484040; */
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  /* grid-column-gap: 5rem; */
}

.testimonial-header-line {
  background-color: #0bc3c0;
  width: 100%;
  height: 0.2rem;
  /* margin: 0 auto; */
}

.testimonial-header-text {
  color: #0bc3c0;
  font-size: 4.5rem;
  text-align: end;
}

.white-heading {
  color: #fff;
}

/*------------------- END of Header part-------------------------*/

/* --------------------start of testimonials-------------------- */

/* animation: slide 5s infinite; */
@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.testimonial-content {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  /* background-color: #ff676d; */
  height: 60rem;
  width: 100%;
  position: relative;
}

.slide-row {
  display: flex;
  width: 320rem;
  transition: 0.5s;
  /* animation: 5s slide infinite linear; */
}

.slide-col {
  width: 100rem;
  height: 50rem;
  position: relative;
}
.user-img {
  position: absolute;
  top: 0;
  /* right: 0; */
  left: 0;
  height: 100%;
}

.user-img img {
  height: 100%;
  border-radius: 1rem;
}

.user-text {
  background: #272829;
  width: 60rem;
  height: 35rem;
  position: absolute;
  /* left: 0; */
  right: 9rem;
  top: 50%;
  transform: translateY(-50%);
  /* border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem; */
  border-radius: 2rem;
  color: #fff;
  padding: 4rem 8rem;
  box-sizing: border-box;
  z-index: 2;
}

.user-text .quote-icon {
 font-size: 5rem;
}

.user-text p {
  font-size: 2rem;
  line-height: 2.4rem;
}
.user-text h3 {
  font-size: 2.5rem;
  margin: 5rem 0 0.5rem;
  color: #fff;
}

.box {
  width: 100rem;
  height: 50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2rem;
  z-index: 1;
}

.dot {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin: .8rem;
  border-radius: 1.5rem;
  background: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.active {
  width: 3rem;
}

.testimonial {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* --------------------end of testimonials-------------------- */

/* responsive styling for testimonials */

@media (max-width: 1080px) {
  .testimonial-header-text {
    font-size: 3rem;
  }
}
/* ---aligning vertically ---*/
@media (max-width: 920px) {

  /* header part */
  .testimonial-header {
    grid-row-gap: 5rem;
  }
  .testimonial-header-line {
    grid-row: 1/2;
    grid-column: 1/3;
    width: 30%;
  }
  .testimonial-header-text {
    font-size: 2.5rem;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
  }

  /* main content part */
  .box {
    width: 70rem;
    height: 40rem;
  }
  .slide-col {
    width: 70rem;
    height: 40rem;
  }
  .user-text {
    width: 45rem;
    height: 32rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem 4rem;
  }
  .user-text p {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .user-text h3 {
    font-size: 2.5rem;
    margin: 3rem 0 0.5rem;
    color: #fff;
  }
  
}
/* ---------------------------- */
@media (max-width:750px) {
  .testimonial-header {
    grid-row-gap: 3rem;
  }
  .testimonial-header-line {
    width: 30%;
  }
  .testimonial-header-text {
    font-size: 2rem;
  }
}

@media (max-width:582px) {
  .testimonial-header {
    grid-row-gap: 2rem;
  }
  .testimonial-header-line {
    width: 20%;
  }
  .testimonial-header-text {
    font-size: 1.5rem;
  }
}

/* mobile view */
@media (max-width:420px) {
  .testimonial-main {
    padding: 5rem 0;
  }
  .testimonial-header {
    grid-row-gap: 1.5rem;
    padding: 0 5rem;
  }
  .testimonial-header-line {
    width: 20%;
  }
  .testimonial-header-text {
    font-size: 1.5rem;
  }

   /* main content part */
   .box {
    width: 30rem;
    height: 40rem;
  }
  .slide-col {
    width: 30rem;
    height: 20rem;
  }
  .user-img{
    left: 28%;
  }

  .user-img img {
    /* border-radius: 10%; */
  }
  .user-text {
    width: 27rem;
    height: 16rem;
    right: 1.5rem;
    top: 120%;
    transform: translateY(-50%);
    padding: 1rem 2.2rem;
  }
  .user-text .quote-icon {
    font-size: 2.1rem;
  }
  
  .user-text p {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  .user-text h3 {
    font-size: 1.5rem;
    margin: 1rem 0 0.2rem;
    color: #fff;
  }
  

  .indicator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5rem;
    z-index: 1;
  }
  
  .dot {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin: .5rem;
    border-radius: 1rem;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .active {
    width: 2rem;
  }
}

